@import "teaMonth.css";
@import "mission.css";
@import "locations.css";

* {
    margin: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: .9;
    text-align: center;
}

header {
    display: flex;
    background-color: black;
    justify-content: space-between;
    height: 69px;
    padding: 0 10px;
    align-items: center;
    border-bottom: 1px solid seashell;
    position: fixed;
    width: 100%;
    z-index: 1;
}

li {
    display: flex;
    text-decoration: underline;
}

#logo {
    height: 50px;
}

main {
    padding: 69px;
    display: grid;
    gap: 64px;
}

footer {
    display: grid;
    gap: 16px;
    margin-left: 20px;
    text-align: left;
}

.teaCozy {
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}